###### all ignore ######
/*
/.**

###### not ignore list ######
!/.bashrc
!/.bash_profile
!/.dircolors
!/.inputrc
# vim setting file
!/.vim/
!/.vimrc
# exec directory
!/.bin/
!/.bin/*
!/.bin/completion/
!/.bin/completion/*
!/.bin/bash_completion.d/
!/.bin/bash_completion.d/*
# application setting file
!/.screenrc
!/.screen/
!/.tmux.conf
# homebrew
!/Brewfile
## config
!/.config/
!/.config/**
/.config/fcitx/**
!/.config/fcitx/config
!/.config/fcitx/conf/
!/.config/fcitx/conf/**
!/.config/environment.d/
!/.config/environment.d/**
# git
!.gitconfig_shared
#starship
!starship.toml
# etc
!/.gdbinit
!/README.md

###### ignore list ######
*.swp
.config/.DS_Store
.config/fish/.DS_Store
.config/fish/functions/.DS_Store
.config/fisher/.DS_Store
/.config/TabNine/registration_key

###### final not ignore list ######
!.gitignore
!.gitkeep

